<template>
		<vue-advanced-chat
			ref="chatWindow"
      theme="dark"
      height="100vh"
      :rooms="JSON.stringify(rooms)"
      :messages="JSON.stringify(messages)"
      :messages-loaded="messagesLoaded"
      :rooms-loaded="true"
			:current-user-id="109"
      :show-files="false"
      :show-audio="false"
      :show-add-room="false"
      :load-first-room="false"
      @fetch-messages="fetchMessages($event.detail[0])"
      @send-message="sendMessage($event.detail[0])"
		/>
</template>

<script>
import { parseTimestamp, formatTimestamp } from '@/utils/dates'
import logoAvatar from '@/assets/logo.png'
import { messages } from '@/messages'
import { rooms } from '@/rooms.value'

import { register } from 'vue-advanced-chat'
// import { register } from './../../dist/vue-advanced-chat.es.js'
// import { register } from './../../src/lib/index.js'
register()

export default {
	props: {
		currentUserId: { type: String, required: true },
		theme: { type: String, required: true },
		isDevice: { type: Boolean, required: true }
	},

	emits: ['show-demo-options'],

	data() {
		return {
			rooms: rooms,
			startRooms: null,
			endRooms: null,
			roomsLoaded: true,
			loadingRooms: false,
			loadingLastMessageByRoom: 0,
			roomsLoadedCount: false,
			messages: messages,
			messagesLoaded: false,
			roomsListeners: [],
			disableForm: false,
			addNewRoom: null,
			addRoomUsername: '',
			inviteRoomId: null,
			invitedUsername: '',
			removeRoomId: null,
			removeUserId: '',
			removeUsers: []
		}
	},

	mounted() {
		this.addCss()
    this.rooms = rooms
		// firebaseService.updateUserOnlineStatus(this.currentUserId)
	},

	methods: {
		async addCss() {
			if (import.meta.env.MODE === 'development') {
				const styles = await import('./styles/index.scss')
				const style = document.createElement('style')
				style.innerHTML = styles.default
				this.$refs.chatWindow.shadowRoot.appendChild(style)
			}
		},
		resetRooms() {
			this.loadingRooms = true
			this.loadingLastMessageByRoom = 0
			this.roomsLoadedCount = 0
			this.rooms = []
			this.roomsLoaded = true
			this.startRooms = null
			this.endRooms = null
			this.roomsListeners.forEach(listener => listener())
			this.roomsListeners = []
			this.resetMessages()
		},

		resetMessages() {
		/*	this.messages = []
			this.messagesLoaded = false
			this.lastLoadedMessage = null
			this.previousLastLoadedMessage = null
			this.listeners.forEach(listener => listener())
			this.listeners = [] */
		},

		fetchRooms() {
			this.resetRooms()
			// this.fetchMoreRooms()
		},

		formatLastMessage(message, room) {
			if (!message.timestamp) return

			let content = message.content
			if (message.files?.length) {
				const file = message.files[0]
				content = `${file.name}.${file.extension || file.type}`
			}

			const username =
				message.sender_id !== this.currentUserId
					? room.users.find(user => message.sender_id === user._id)?.username
					: ''

			return {
				...message,
				...{
					_id: message.id,
					content,
					senderId: message.sender_id,
					timestamp: formatTimestamp(
						new Date(message.timestamp.seconds * 1000),
						message.timestamp
					),
					username: username,
					distributed: true,
					seen: message.sender_id === this.currentUserId ? message.seen : null,
					new:
						message.sender_id !== this.currentUserId &&
						(!message.seen || !message.seen[this.currentUserId]),
					lastMessage: {
						...message.lastMessage,
						_id: message.id,
						senderId: message.sender_id
					}
				}
			}
		},

		fetchMessages({ room, options = {} }) {
      this.messagesLoaded = false
      setTimeout(() => {
        this.messages = messages
        this.messagesLoaded = true
      }, 2100)
		},

		async sendMessage({ content, roomId, files, replyMessage }) {
      const message = {
        _id: Math.random(),
        senderId: '109',
        content: content.toString(),
        timestamp: new Date()
      }
      setTimeout(() => {
        this.fakeListener(message)
      }, 10)
		},

    fakeListener (message) {
      this.messages = this.messages.concat(message)
      console.log(this.messages)
    }
	}
}
</script>

<style lang="scss" scoped>
.window-container {
	width: 100%;
}

.window-mobile {
	form {
		padding: 0 10px 10px;
	}
}

form {
	padding-bottom: 20px;
}

input {
	padding: 5px;
	width: 140px;
	height: 21px;
	border-radius: 4px;
	border: 1px solid #d2d6da;
	outline: none;
	font-size: 14px;
	vertical-align: middle;

	&::placeholder {
		color: #9ca6af;
	}
}

button {
	background: #1976d2;
	color: #fff;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	padding: 8px 12px;
	margin-left: 10px;
	border: none;
	font-size: 14px;
	transition: 0.3s;
	vertical-align: middle;

	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.6;
	}

	&:disabled {
		cursor: initial;
		background: #c6c9cc;
		opacity: 0.6;
	}
}

.button-cancel {
	color: #a8aeb3;
	background: none;
	margin-left: 5px;
}

select {
	vertical-align: middle;
	height: 33px;
	width: 152px;
	font-size: 13px;
	margin: 0 !important;
}
</style>
